# flyctl launch added from .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Testing
**/coverage

# Turbo
**/.turbo

# Vercel
**/.vercel

# Build Outputs
**/.next
**/out
**/build
**/dist


# Debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Misc
**/.DS_Store
**/*.pem

# Infra
**/fly.toml

# flyctl launch added from apps/calendar/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/calendar/node_modules
apps/calendar/.pnp
apps/calendar/**/.pnp.js
apps/calendar/**/.yarn/install-state.gz

# testing
apps/calendar/coverage

# next.js
apps/calendar/.next
apps/calendar/out

# production
apps/calendar/build

# misc
apps/calendar/**/.DS_Store
apps/calendar/**/*.pem

# debug
apps/calendar/**/npm-debug.log*
apps/calendar/**/yarn-debug.log*
apps/calendar/**/yarn-error.log*

# vercel
apps/calendar/**/.vercel

# typescript
apps/calendar/**/*.tsbuildinfo
apps/calendar/**/next-env.d.ts

# flyctl launch added from apps/desktop/.gitignore
# Logs
apps/desktop/**/logs
apps/desktop/**/*.log
apps/desktop/**/npm-debug.log*
apps/desktop/**/yarn-debug.log*
apps/desktop/**/yarn-error.log*
apps/desktop/**/pnpm-debug.log*
apps/desktop/**/lerna-debug.log*

apps/desktop/**/node_modules
apps/desktop/**/dist
apps/desktop/**/dist-ssr
apps/desktop/**/*.local

# Editor directories and files
apps/desktop/**/.vscode/*
!apps/desktop/**/.vscode/extensions.json
apps/desktop/**/.idea
apps/desktop/**/.DS_Store
apps/desktop/**/*.suo
apps/desktop/**/*.ntvs*
apps/desktop/**/*.njsproj
apps/desktop/**/*.sln
apps/desktop/**/*.sw?

# dotenv environment variable files

apps/desktop/**/.env
apps/desktop/**/.env.development.local
apps/desktop/**/.env.test.local
apps/desktop/**/.env.production.local
apps/desktop/**/.env.local

# flyctl launch added from apps/desktop/src-tauri/.gitignore
# Generated by Cargo
# will have compiled files and executables
apps/desktop/src-tauri/target

# Generated by Tauri
# will have schema files for capabilities auto-completion
apps/desktop/src-tauri/gen/schemas

# flyctl launch added from apps/server/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

apps/server/**/logs
apps/server/**/_.log
apps/server/**/npm-debug.log_
apps/server/**/yarn-debug.log*
apps/server/**/yarn-error.log*
apps/server/**/lerna-debug.log*
apps/server/**/.pnpm-debug.log*

# Caches

apps/server/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

apps/server/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

apps/server/**/pids
apps/server/**/_.pid
apps/server/**/_.seed
apps/server/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

apps/server/**/lib-cov

# Coverage directory used by tools like istanbul

apps/server/**/coverage
apps/server/**/*.lcov

# nyc test coverage

apps/server/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

apps/server/**/.grunt

# Bower dependency directory (https://bower.io/)

apps/server/**/bower_components

# node-waf configuration

apps/server/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

apps/server/**/build/Release

# Dependency directories

apps/server/**/node_modules
apps/server/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

apps/server/**/web_modules

# TypeScript cache

apps/server/**/*.tsbuildinfo

# Optional npm cache directory

apps/server/**/.npm

# Optional eslint cache

apps/server/**/.eslintcache

# Optional stylelint cache

apps/server/**/.stylelintcache

# Microbundle cache

apps/server/**/.rpt2_cache
apps/server/**/.rts2_cache_cjs
apps/server/**/.rts2_cache_es
apps/server/**/.rts2_cache_umd

# Optional REPL history

apps/server/**/.node_repl_history

# Output of 'npm pack'

apps/server/**/*.tgz

# Yarn Integrity file

apps/server/**/.yarn-integrity

# dotenv environment variable files

apps/server/**/.env
apps/server/**/.env.development.local
apps/server/**/.env.test.local
apps/server/**/.env.production.local
apps/server/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

apps/server/**/.parcel-cache

# Next.js build output

apps/server/**/.next
apps/server/**/out

# Nuxt.js build / generate output

apps/server/**/.nuxt
apps/server/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

apps/server/**/.vuepress/dist

# vuepress v2.x temp and cache directory

apps/server/**/.temp

# Docusaurus cache and generated files

apps/server/**/.docusaurus

# Serverless directories

apps/server/**/.serverless

# FuseBox cache

apps/server/**/.fusebox

# DynamoDB Local files

apps/server/**/.dynamodb

# TernJS port file

apps/server/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

apps/server/**/.vscode-test

# yarn v2

apps/server/**/.yarn/cache
apps/server/**/.yarn/unplugged
apps/server/**/.yarn/build-state.yml
apps/server/**/.yarn/install-state.gz
apps/server/**/.pnp.*

# IntelliJ based IDEs
apps/server/**/.idea

# Finder (MacOS) folder config
apps/server/**/.DS_Store

# flyctl launch added from apps/web/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

apps/web/**/logs
apps/web/**/_.log
apps/web/**/npm-debug.log_
apps/web/**/yarn-debug.log*
apps/web/**/yarn-error.log*
apps/web/**/lerna-debug.log*
apps/web/**/.pnpm-debug.log*

# Caches

apps/web/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

apps/web/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

apps/web/**/pids
apps/web/**/_.pid
apps/web/**/_.seed
apps/web/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

apps/web/**/lib-cov

# Coverage directory used by tools like istanbul

apps/web/**/coverage
apps/web/**/*.lcov

# nyc test coverage

apps/web/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

apps/web/**/.grunt

# Bower dependency directory (https://bower.io/)

apps/web/**/bower_components

# node-waf configuration

apps/web/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

apps/web/**/build/Release

# Dependency directories

apps/web/**/node_modules
apps/web/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

apps/web/**/web_modules

# TypeScript cache

apps/web/**/*.tsbuildinfo

# Optional npm cache directory

apps/web/**/.npm

# Optional eslint cache

apps/web/**/.eslintcache

# Optional stylelint cache

apps/web/**/.stylelintcache

# Microbundle cache

apps/web/**/.rpt2_cache
apps/web/**/.rts2_cache_cjs
apps/web/**/.rts2_cache_es
apps/web/**/.rts2_cache_umd

# Optional REPL history

apps/web/**/.node_repl_history

# Output of 'npm pack'

apps/web/**/*.tgz

# Yarn Integrity file

apps/web/**/.yarn-integrity

# dotenv environment variable files

apps/web/**/.env
apps/web/**/.env.development.local
apps/web/**/.env.test.local
apps/web/**/.env.production.local
apps/web/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

apps/web/**/.parcel-cache

# Next.js build output

apps/web/**/.next
apps/web/**/out

# Nuxt.js build / generate output

apps/web/**/.nuxt
apps/web/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

apps/web/**/.vuepress/dist

# vuepress v2.x temp and cache directory

apps/web/**/.temp

# Docusaurus cache and generated files

apps/web/**/.docusaurus

# Serverless directories

apps/web/**/.serverless

# FuseBox cache

apps/web/**/.fusebox

# DynamoDB Local files

apps/web/**/.dynamodb

# TernJS port file

apps/web/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

apps/web/**/.vscode-test

# yarn v2

apps/web/**/.yarn/cache
apps/web/**/.yarn/unplugged
apps/web/**/.yarn/build-state.yml
apps/web/**/.yarn/install-state.gz
apps/web/**/.pnp.*

# IntelliJ based IDEs
apps/web/**/.idea

# Finder (MacOS) folder config
apps/web/**/.DS_Store

# flyctl launch added from interface/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

interface/**/logs
interface/**/_.log
interface/**/npm-debug.log_
interface/**/yarn-debug.log*
interface/**/yarn-error.log*
interface/**/lerna-debug.log*
interface/**/.pnpm-debug.log*

# Caches

interface/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

interface/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

interface/**/pids
interface/**/_.pid
interface/**/_.seed
interface/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

interface/**/lib-cov

# Coverage directory used by tools like istanbul

interface/**/coverage
interface/**/*.lcov

# nyc test coverage

interface/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

interface/**/.grunt

# Bower dependency directory (https://bower.io/)

interface/**/bower_components

# node-waf configuration

interface/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

interface/**/build/Release

# Dependency directories

interface/**/node_modules
interface/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

interface/**/web_modules

# TypeScript cache

interface/**/*.tsbuildinfo

# Optional npm cache directory

interface/**/.npm

# Optional eslint cache

interface/**/.eslintcache

# Optional stylelint cache

interface/**/.stylelintcache

# Microbundle cache

interface/**/.rpt2_cache
interface/**/.rts2_cache_cjs
interface/**/.rts2_cache_es
interface/**/.rts2_cache_umd

# Optional REPL history

interface/**/.node_repl_history

# Output of 'npm pack'

interface/**/*.tgz

# Yarn Integrity file

interface/**/.yarn-integrity

# dotenv environment variable files

interface/**/.env
interface/**/.env.development.local
interface/**/.env.test.local
interface/**/.env.production.local
interface/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

interface/**/.parcel-cache

# Next.js build output

interface/**/.next
interface/**/out

# Nuxt.js build / generate output

interface/**/.nuxt
interface/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

interface/**/.vuepress/dist

# vuepress v2.x temp and cache directory

interface/**/.temp

# Docusaurus cache and generated files

interface/**/.docusaurus

# Serverless directories

interface/**/.serverless

# FuseBox cache

interface/**/.fusebox

# DynamoDB Local files

interface/**/.dynamodb

# TernJS port file

interface/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

interface/**/.vscode-test

# yarn v2

interface/**/.yarn/cache
interface/**/.yarn/unplugged
interface/**/.yarn/build-state.yml
interface/**/.yarn/install-state.gz
interface/**/.pnp.*

# IntelliJ based IDEs
interface/**/.idea

# Finder (MacOS) folder config
interface/**/.DS_Store

# flyctl launch added from node_modules/tailwindcss/stubs/.gitignore
!node_modules/tailwindcss/stubs/**/*
